@import 'nib';

global-reset();

@import './mixins';
@import './fonts';

html {
	height: 100%;
	box-sizing: border-box;
	background-image: url('/resources/images/body-bg.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Roboto';
	font-weight: 400;

	+desktop() {
		font-size: 16px;
	}

	+mobile() {
		font-size: 12px;
	}
}

body {
	height: 100%;
	box-sizing: border-box;
	background: none;
}

#mediasoup-demo-app-container {
	height: 100%;
	width: 100%;
	box-sizing: border-box;

	// Components
	@import './components/Room';
	@import './components/PeerInfo';
	@import './components/Me';
	@import './components/Peers';
	@import './components/Peer';
	@import './components/Stream';

	* {
		box-sizing: border-box;
		outline: none;
	}
}

// Hack to detect in JS the current media query
#mediasoup-demo-app-media-query-detector {
	position: relative;
	z-index: -1000;
	bottom: 0;
	left: 0;
	height: 1px;
	width: 1px;

	// In desktop let it "visible" so elem.offsetParent returns the parent element
	+desktop() {}

	// In mobile ensure it's not displayed so elem.offsetParent returns null
	+mobile() {
		display: none;
		position: fixed; // Required for old IE
	}
}
