[data-component='Peer'] {
	flex: 100 100 auto;
	position: relative;
	height: 100%;
	width: 100%;

	+mobile() {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
