[data-component='PeerInfo'] {
	$backgroundTint = #000;

	position: absolute;
	z-index: 5
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background: linear-gradient(to bottom,
		rgba($backgroundTint, 0) 0%,
		rgba($backgroundTint, 0) 60%,
		rgba($backgroundTint, 0.1) 70%,
		rgba($backgroundTint, 0.8) 100%);

	+desktop() {
		&.is-me {
			padding: 10px;
			align-items: flex-start;
		}

		&:not(.is-me) {
			padding: 20px;
			align-items: flex-start;
		}
	}

	+mobile() {
		&.is-me {
			padding: 10px;
			align-items: flex-start;
		}

		&:not(.is-me) {
			padding: 10px;
			align-items: flex-end;
		}
	}

	> .displayName {
		font-size: 13px;
		color: rgba(#fff, 0.85);
	}

	> span.displayName {
		user-select: none;
		cursor: text;

		&:not(.editable) {
			cursor: default;
		}

		&.editable {
			+desktop() {
				&:hover {
					background-color: rgba(#aeff00, 0.25);
				}
			}
		}
	}

	> input.displayName {
		border: none;
		border-bottom: 1px solid #aeff00;
		background-color: transparent;
		-webkit-appearance: none !important;
	}

	> .row {
		margin-top: 4px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-end;

		> .device-icon {
			height: 16px;
			width: 16px;
			margin-right: 3px;
			user-select: none;
			pointer-events: none;
			background-position: center;
			background-size: 100%;
			background-repeat: no-repeat;
			background-image: url('/resources/images/devices/unknown.svg');

			&.Chrome {
				background-image: url('/resources/images/devices/chrome_16x16.png');
			}

			&.Chromium {
				background-image: url('/resources/images/devices/chromium_16x16.png');
			}

			&.Firefox {
				background-image: url('/resources/images/devices/firefox_16x16.png');
			}

			&.Safari {
				background-image: url('/resources/images/devices/safari_16x16.png');
			}

			&.MicrosoftEdge {
				background-image: url('/resources/images/devices/edge_16x16.png');
			}

			&.Opera {
				background-image: url('/resources/images/devices/opera_16x16.png');
			}
		}

		> .device-version {
			user-select: none;
			pointer-events: none;
			font-size: 11px;
			color: rgba(#fff, 0.55);
		}
	}
}
