[data-component='Room'] {
	position: relative;
	height: 100%;
	width: 100%;

	FadeIn(1000ms);

	> .local-view-container {
		position: fixed;
		z-index: 100;
		overflow: hidden;
		box-shadow: 0px 5px 12px 2px rgba(#111, 0.75);
		background-color: rgba(#fff, 0.25);
		border: 1px solid rgba(#fff, 0.25);

		+desktop() {
			width: 250px;
			height: 200px;
			bottom: 20px;
			left: 20px;
		}

		+mobile() {
			width: 150px;
			height: 120px;
			bottom: 10px;
			left: 10px;
		}
	}
}
