[data-component='Video'] {
	position: relative;
	height: 100%;
	width: 100%;
	object-fit: cover;
	background-color: rgba(#041918, 0.65);
	background-image: url('/resources/images/buddy.svg');
	background-position: bottom;
	background-size: auto 85%;
	background-repeat: no-repeat;
	overflow: hidden;

	> video {
		height: 100%;
		width: 100%;
		object-fit: cover;
		transition-property: opacity;
		transition-duration: .15s;

		&.mirror {
			transform: scaleX(-1);
		}

		&.hidden {
			opacity: 0;
			transition-duration: 0s;
		}
	}
}
